
@import 'style';
.title__productos{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $primary--color;
    margin-left: 14px;
}
#container__cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 12px;
    margin: 20px 20px;
    justify-content: center; 
}
.card{
    height: 200px;
    min-width: 100%; 
    background: #FEFFFB;
    border-radius: 2px;
    display: flex;
    flex-flow: column;
    padding: 0px 0px;
    justify-content: center;
    position: relative;
    transition: .3s ease;
    &:hover{
        filter: drop-shadow(0px 2px 4px rgba(20, 16, 16, 0.25));
        margin-top:-1px;
        transition: .2s ease;
    }
    
    img{
        position: absolute;
        top: 0;
        margin-top: 0px;
        max-width: 100%;
        width: 100%;
        height: 48%;
        object-fit: cover;
        border-radius: 2px 2px 0px 0px;
    }
        .infocard{
            padding: 0px 12px;
            .containerprecio{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                position: absolute;
                top: 116px;
                height: fit-content;
                
                .preciocard{
                    font-family: 'Noto Sans JP', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 29px;
                    color: $price--color;
                   
                    &::selection{
                        background-color: $price--color;
                        color: white;
                    }
                }
            }
           
            h3{
                font-family: 'Noto Sans JP', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 14px;
                color: $name--product--color;
                margin-top: 2px;
                position: absolute; 
                top: 100px;
                padding-right: 12px;
                &::selection{
                    background-color: $price--color;
                    color: white;
                }
            }
        }
        button{
            outline: none;
            color: $primary--color;
            border: solid 1.34px $primary--color;
            border-radius: 2px;
            background-color:#FEFFFB;
            font-family: Noto Sans JP;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-width: 105px;
            min-height: 24px;
            position: absolute;
            bottom: 10px;
            transition: .2s ease;
            cursor: pointer;
                &:hover{
                background-color: $primary--color;
                color: white;
                transition: .2s ease;
                }
        }
    
}
/* filtro blur al abrir el carrito */
.filtro > *:not(header, .carritomain) {
    filter: blur(2px);
    pointer-events: none;
}
/*lista productos añadido en carrito*/
.carritomain{
    border-top: 4px $primary--color solid;
    width: 80%;
    height: fit-content;
    max-width: 300px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 72px;
    background-color: white;
    border-radius: 2px;
    pointer-events: none;
    padding: 20px 22px;
    opacity: 0;
    transition: .3s; 
    z-index: 10000000000;
}

.carritoabierto{
    pointer-events: visible;
    opacity: 1;
    transition: .3s;

    
}
/* carrito vacio */
.carritovacio{
    margin: auto;
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    h2{
        margin-bottom: 32px;
            &::selection{
                background-color: $price--color;
                color: white;
            }
    }
    span{
        margin-top: 20px;
        width: 230px;
        text-align: center;
        line-height: 20px;
            &::selection{
                background-color: $price--color;
                color: white;
            }
    }
    .button{
        background-color: $primary--color;
        color: white;
        width: 174px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 2px;
        margin-top: 20px;
        font-weight: 700;
    }
}
/* card productos añadidos */

.cardcarrito{
    display: flex;
    flex-flow: row;
    position: relative;
    height: fit-content;
    margin-bottom: 16px;
}

.img_card__carrito{
    width: 86px;
    height: 90px;
    border-radius: 2px;
}
.infocard_carrito{
    display: flex;
    flex-flow: column-reverse;
    margin-left: 12px;
    }
.totalproducto{
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    line-height: 29px;
    color: $price--color;
    position: absolute;
    top: 0px;
    margin-top: 32px;
    &::selection{
        background-color: $price--color;
        color: white;
    }
}
.nombre__carrito{
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $name--product--color;
    position: absolute;
    top: 0px;
    margin-top: 0px;
    width: 200px;
    &::selection{
        background-color: $price--color;
        color: white;
    }
}
.cantidadproducto{
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    color: $price--color;
    &::selection{
        background-color: $price--color;
        color: white;
    }
}
 /* sumar y restar cantidad y eliminar producto*/
 .cantidad__botones{
     position: absolute;
     left: 96px;
     bottom: 0px;
     display: flex;
     align-items: center;
     width: 90px;
     justify-content: space-between;

        img{ /* botones sumar y eliminar */
            height: 28px;
            width: 28px;
            cursor: pointer;
        }
 }
 .eliminarproducto{
     position: absolute;
     right: 12px;
     bottom: 0;
     height: 28px;
     width: 28px;
     cursor: pointer;
 }
/* total carrito */
.totalcarritocontainer{
    position: absolute;
    width:87%;
    bottom: 70px;
    font-family: Noto Sans JP;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    span{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $name--product--color;
            &::selection{
                background-color: $price--color;
                color: white;
            }
    }
    .totalcarrito{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        color: $price--color;
            &::selection{
                background-color: $price--color;
                color: white;
            }
    }
}
/* button comprar carrito */
.button__comprar{
    width:100%;
    max-width: 300px;
    height:50px;
    max-height: 100px;
    margin: 70px  auto -10px auto;
    border: none;
    border-radius: 2px;
    background-color: $primary--color;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
        
}
/* animacion boton add to cart cuando se clickea */
@keyframes animacionbutton {
    0%{background-color: $primary--color;}
    0%{background-color: $primary--color;}
    100%{background-color: #FEFFFB;}
}
.buttonanimado{
    animation-name: animacionbutton;
    animation-duration: 1s;
    outline: none;
    color: $primary--color;
    border: solid 1.34px $primary--color;
    border-radius: 2px;
    background-color:#FEFFFB;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 105px;
    min-height: 24px;
    position: absolute;
    bottom: 10px;
}


/* modal comprar cargando */
@keyframes animacioncircle{
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg); display: none;}
}
.cargando__compra{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    min-height: 1000px;
    height: 100vh;
    z-index: 9999999999;
    background-color: white;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: Noto Sans JP;
    font-weight: 900;
        span{
            text-shadow: center;
            font-size: 1.5rem;
        }
        .circle__cargando{
            box-sizing: border-box;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            margin-top: 20px;
            border: 15px solid rgb(224, 212, 212);
            border-top: 15px solid red;
            animation: animacioncircle 1s linear infinite;
        }
}

@media screen and (min-width:400px){
    #container__cards{
        display: grid;
        grid-template-columns: 185px 185px;
        gap: 12px;
        margin: 20px 0px auto 14px;
        justify-content: center; 
        width: fit-content;
    }
    .card{
        height: 290px;
        
        max-width: 300px;
        background: #FEFFFB;
        border-radius: 2px;
        display: flex;
        flex-flow: column;
        padding: 0px  0px;
        justify-content: center;
        position: relative;
        
        &:hover{
            filter: drop-shadow(0px 2px 4px rgba(20, 16, 16, 0.25));
        }
        img{
            position: absolute;
            top: 0;
            margin-top: 0px;
            max-width: 100%;
            width: 100%;
            height: 48%;
            object-fit: cover;
            border-radius: 2px 2px 0px 0px;
        }
            .infocard{
                padding: 0px 12px;
                .containerprecio{
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    position: absolute;
                    top: 116px;
                    height: fit-content;
                    display: flex;
                    flex-flow: row nowrap;
                    position: absolute;
                    top: 180px;
                        .preciocard{
                            font-family: 'Noto Sans JP', sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 1.3rem;
                            line-height: 29px;
                            color: $price--color;
                        
                        }
                }
                
                h3{
                    font-family: 'Noto Sans JP', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: $name--product--color;
                    margin-top: 2px;
                    position: absolute; 
                    top: 150px;
                }
            }
            button{
                outline: none;
                color: $primary--color;
                border: solid 1.34px $primary--color;
                border-radius: 2px;
                background-color:#FEFFFB;
                font-family: Noto Sans JP;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                min-width: 145px;
                min-height: 36px;
                position: absolute;
                bottom: 14px;
            }
        
    }
}

@media screen and (min-width:600px){
    #container__cards{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        gap: 12px;
        margin: 20px 0px auto 14px;
        justify-content: center; 
        width: fit-content;
    }
    .carritomain{
        top: 60px;
        left: auto;
        right: 16px;
    }
}